[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-cognito" = "*"
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-apigateway" = "*"

[dev-packages]

[requires]
python_version = "3.7"
